<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base.html}">
<body>
<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header" th:value="${dto.name}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Board Read
                    </h5>
                    <div class="mb-3">
                        <label for="name" class="form-control">점심 메뉴</label>
                        <input type="text" class="form-control" id="name" name="name" th:value="${dto.name}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="shop" class="form-control">가게</label>
                        <input type="text" class="form-control" id="shop" name="shop" th:value="${dto.shop}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-control">가격</label>
                        <input type="number" class="form-control" id="price" name="price" th:value="${dto.price}"
                               readonly>
                    </div>
                    <div class="mb-3">
                        <label for="regDate" class="form-control">등록시간</label>
                        <input type="text" class="form-control" id="regDate" name="regDate"
                               th:value="${#temporals.format(dto.regDate,'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="revisit" class="form-control">재방문 의사</label>
                        <input type="text" class="form-control" id="revisit" name="revisit"
                               th:value="${dto.revisit ? '있음' : '없음'}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="modDate" class="form-control">수정시간</label>
                        <input type="text" class="form-control" id="modDate" name="modDate"
                               th:value="${#temporals.format(dto.modDate,'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <div class="mb-3" th:with="link = ${pageRequestDTO.link}">
                        <button type="button" class="btn btn-primary submitBtn">수정하기</button>
                        <a th:href="|@{/food/list}?${link}|">
                            <button type="button" class="btn btn-secondary">목록가기</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="my-4">
                <button class="btn btn-info addReplyBtn">댓글 등록</button>
            </div>
            <!--댓글 목록은 여기-->
            <ul class="list-group replyList">

            </ul>
            <!--댓글 페이지네이션은 여기-->
            <div class="row mt-3">
                <div class="col">
                    <ul class="pagination replyPagination">

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal1" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">댓글 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="작성자" id="replyAuthor">
                    </div>
                    <div class="mb-3">
                        <textarea id="replyText" class="form-control" rows="5" placeholder="내용"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary regRep">등록</button>
                </div>
            </div>
        </div>
    </div> <!--모달 1-->
    <div class="modal fade modal2" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> <span class="replyNum"></span> 번째 댓글 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="작성자" id="replyAuthorUpd">
                    </div>
                    <div class="mb-3">
                        <textarea id="replyTextUpd" class="form-control" rows="5" placeholder="내용"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary updRep">수정</button>
                    <button type="button" class="btn btn-danger delRep">삭제</button>
                </div>
            </div>
        </div>
    </div> <!--모달 2-->



</div>
<script layout:fragment="javascript" th:inline="javascript">
    // // js 에서 비동기 함수 정의
    // // 비동기 함수는 호출 순서 상관 없이 돌아오는건 선착순
    //
    // // 함수 정의 시 then 과 catch
    // function printReplies(page, size, goLast) {
    //     // 비동기 함수를 호출하게 되면,
    //     // '데이터 호출(getList)의 성공 여부'에 따라서,
    //     // 성공시, then  절 처리,
    //     // 실패시, catch 절 처리.
    //     getList({bno, page, size, goLast})
    //         .then(
    //             data => console.log(data)
    //         )
    //         .catch(e => {
    //                 console.error(e)
    //             }
    //         )
    // }

    // 변수 선언
    const fno = [[${dto.fno}]]
    let page = 1
    let size = 10
    const replyList = document.querySelector(".replyList")
    const replyPagination = document.querySelector(".replyPagination")
    const addReplyBtn = document.querySelector(".addReplyBtn")
    const regModal = new bootstrap.Modal(document.querySelector(".modal1"))
    const updModal = new bootstrap.Modal(document.querySelector(".modal2"))
    const replyText = document.querySelector("#replyText")
    const replyAuthor = document.querySelector("#replyAuthor")
    const replyTextUpd = document.querySelector("#replyTextUpd")
    const replyAuthorUpd = document.querySelector("#replyAuthorUpd")
    const replyNum = document.querySelector(".replyNum")

    // 댓글 목록, 페이지네이션 출력 함수
    function printReplyPage(page, size, goLast) {
        getReplyPage({fno, page, size, goLast}).then(
            data => {
                console.log(data)
                // 이 data 는 PageResponseDTO 임 여기서 페이지네이션과 페이지 목록을 출력할 것
                let html = ""
                const dtoList = data.dtoList
                if (dtoList && dtoList.length > 0) {
                    for (const dto of dtoList)
                        html += `<li class="list-group-item d-flex replyItem">
                                <span class="col-2">${dto.replyId}</span>
                                <span class="col-6" data-rId="${dto.replyId}">${dto.replyText}</span>
                                <span class="col-2">${dto.replyAuthor}</span>
                                <span class="col-2">${dto.regDate}</span>
                            </li>`
                }
                replyList.innerHTML = html

                let pageStr = ''
                if (data.prev) {
                    pageStr += `<li class="page-item"><a class="page-link"
            data-page="${data.start - 1}">이전</a></li>
             `
                }
                for (let i = data.start; i <= data.end; i++) {
                    pageStr += `
            <li class="${data.page == i}?'page-item active':'page-item'">
                                    <a class="page-link"
                                       data-page="${i}">${i}</a>
                                </li>
            `
                }

                if (data.next) {
                    pageStr += `<li class="page-item"><a class="page-link"
            data-page="${data.end + 1}">다음</a></li>
             `
                }
                replyPagination.innerHTML = pageStr
            }
        )
            .catch(e => {
                console.error(e)
            })
    } // 댓글 페이지 출력 함수
    printReplyPage(page, size, false) // 댓글 페이지 출력
    // 1. 댓글 등록 눌렀을 때 eventListener 모달 1 열리고 댓글 입력 폼
    addReplyBtn.addEventListener("click", e => {
        regModal.show()
    })
    // 2. 모달 1 의 댓글 입력 제출 버튼 누르면 eventListener post 요청하고 값 받는 함수(reply.js 에) 호출 데이터를 받아서 보여주는 함수
    document.querySelector(".regRep").addEventListener("click", e => {
        const replyObj = {
            fno: fno,
            replyText: replyText.value,
            replyAuthor: replyAuthor.value
        }
        console.log(replyObj)
        register(replyObj).then(data => {
            alert(data.replyId + "번째 댓글이 등록되었습니다")
            regModal.hide()
            replyText.value = ""
            replyAuthor.value = ""
            printReplyPage(page, size, true)
        })
            .catch(e => {
                alert(e)
            })
    }, false)
    // 3. 각각의 댓글을 누르면 모달 2 열리고 수정 폼
    replyList.addEventListener("click", e => {
        const target = e.target
        if (!target || target.tagName != 'SPAN' || target.className != 'col-6') return
        const replyId = target.getAttribute("data-rId")
        repDetail(replyId).then(result => {
            replyNum.innerHTML=replyId
            replyTextUpd.value=result.replyText
            replyAuthorUpd.value=result.replyAuthor
            updModal.show()
        })
            .catch(e => {
                alert(e)
            })
    }, false)


    // 4. 모달 2 의 댓글 수정 제출 버튼 eventListener put 요청하고 값 받는 함수(reply.js 에)를 호출 하고 데이터 받아서 보여주는 함수
    document.querySelector(".updRep").addEventListener("click" , e => {
        const replyObj = {
            replyId: replyNum.innerHTML,
            fno: fno,
            replyText: replyTextUpd.value,
            replyAuthor: replyAuthorUpd.value
        }
        update(replyObj)
            .then(result => {
                alert(result.replyId + "번째 댓글이 수정되었습니다.")
                updModal.hide()
                replyTextUpd.value = ""
                replyAuthorUpd.value = ""
                printReplyPage(page, size, true)
            })
            .catch(e => {
                alert(e)
            })
    })
    // 5. 모달 2 에 댓글 삭제 버튼 추가하고 눌렀을 때 eventListener delete 요청하고 데이터 받는 함수(reply.js 에)를 호출하고 데이터 받아서 보여주는 함수
    document.querySelector(".delRep").addEventListener("click", e => {
        delRep(replyNum.innerHTML)
            .then(result => {
                alert(result.replyId + "번째 댓글이 삭제되었습니다.")
                updModal.hide()
                replyTextUpd.value = ""
                replyAuthorUpd.value = ""
                printReplyPage(page, size, true)
            })
            .catch(e => {
                alert(e)
            })
    })
    // 6. 댓글 페이지네이션에 eventListener 다른 댓글페이지 불러오기
    document.querySelector(".replyPagination").addEventListener("click", e => {
        e.preventDefault()
        e.stopPropagation()
        const target = e.target
        if (!target || target.tagName != 'A') return
        page = target.getAttribute("data-page")
        printReplyPage(page,size)
    },false)
</script>
</body>
</html>