<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>layout</title>
</head>
<body>
<div layout:fragment="header">Header</div>

<div layout:fragment="content">
    <p>To Do</p>
</div>

<div layout:fragment="footer">
    <a href="/pr">
        <button>돌아가기</button>
    </a>
</div>

<th:block layout:fragment="javascript">

</th:block>
</body>
</html>