<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 이 인터페이스를 구현한다고 보면 됨-->
<mapper namespace="com.busanit501.practice.mapper.FoodMapper">
    <!--연결할 mapper interfaceName 이랑 resources mapper xmlName 맞추기-->
    <!--xml id 와 interface method 이름이 동일한지 확인-->
    <insert id="insert">
        insert into food (title, price, counter)
        values (#{title}, #{price}, #{counter})
    </insert>
                                    <!--객체 지정 가능-->
    <select id="selectAll" resultType="com.busanit501.practice.controller.dto.FoodVO">
        select * from food order by fno desc
    </select>

    <delete id="delete">
        delete from food where fno = #{fno}
    </delete>

    <select id="selectByFno" resultType="com.busanit501.practice.controller.dto.FoodVO">
        select * from food where fno = #{fno}
    </select>

    <update id="update">
        update food set title = #{title}, price = #{price}, counter = #{counter} where fno = #{fno}
    </update>

    <select id="selectByPage" resultType="com.busanit501.practice.controller.dto.FoodVO">
        select * from food order by fno desc limit #{skip}, #{size}
    </select>

    <select id="selectCount" resultType="int">
        select count(fno) from food
    </select>
</mapper>